{% extends "base.html" %}
{% block titre %}Finances{% endblock %}
{% block contenu %}
<h1>Finances</h1>
<table>
    <tr><th>Date</th><th>Type</th><th>Montant</th><th>Devise</th><th>Origine</th></tr>
    {% for f in finances %}
    <tr>
        <td>{{ f.date_transaction }}</td>
        <td>{{ f.get_type_display }}</td>
        <td>{{ f.montant }}</td>
        <td>{{ f.devise.code|upper }}</td>
        <td>{{ f.get_membre_type_display }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">Aucune transaction enregistree</td></tr>
    {% endfor %}
</table>
{% endblock %}